@charset 'utf-8';

@import 'globals-default';
@import 'globals-plimoth';
@import 'settings';
@import 'foundation-core';
@import 'omeka';

// General
ul {
    list-style-type: none;
}

//Type
h1,h2,h3,h4,h5 {
    font-family: 'DM Serif Display', serif;
}

.resource-meta h2 {
    line-height: 1;
}

//Color

#wrap {
    background-color: $secondary-color;
}
header, .top-bar, .top-bar ul {
    background-color:$white;
}

#content {
    background-color: $white;
}

footer {
     background-color: $navy;
     color:$white;
     a {
         color:$white;
     }
}

.footer-content {
    @include xy-grid-container;
    padding: (2 * $global-padding) 0;
}
//Layouts
header {
    min-height:150px;
}

.top-bar {
    padding:0.5rem 1rem;
}

#blocks {
    @include xy-grid;
    align-content: flex-start;
}

#intro {
    @include breakpoint(medium){
        @include xy-cell(8);
        @include xy-cell-offset(2);
    }
    text-align: center;
    background-color:rgba(231, 239, 237, 0.8) ;
    padding:1rem;
    margin-bottom:1rem;
}

#intro p {
    font-size:.9rem;
    text-align:left;
}

.home #content {
    background-image: url("../img/plimothHero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:798.4962px;
}

.home-list {
    @include breakpoint(medium){
        @include xy-cell(6);
        margin-bottom:0;
    }
    padding:1rem;
    text-align: center;
    background-color:rgba(231, 239, 237, 0.8) ;
    margin-bottom:1rem;
    width:100%;
    li a {
        font-size:1.25rem;
    }
    
    h2 a {
        width:100%;
    }
}

.list-columns {
    @include breakpoint(medium up) {
        column-count:2;
        column-width: 50%;
        column-fill: balance;

        li {
            break-inside: avoid-column;
            display: inline-block;
        }
    }
}

//General
button, [type="button"] {
    background:$secondary-color;
    border: 1px solid $primary-color;
    color:$primary-color;
    padding:0 0.5rem;
}

.close-button {
    font-size:2rem;
}

.close-button:hover {
    color:$secondary-color;
}

//Navigation
.top-bar-right ul {
    width:100%;
}

.menu li a {
    font-size:1.25rem;
    letter-spacing: 2px;
    font-weight:bold;
    text-transform: uppercase;
    color:$black;
}

.menu li a:hover {
    background:$off-white;
}

.menu .active > a, .toc-block > ul .active > a, .toc-block ul ul .active > a {
    background:inherit;
    color:inherit;
}

body.theme .menu .active > a.themes, body.time-periods .menu .active > a.periods {
    border-bottom:1rem solid $secondary-color;
}

.menu a.plimoth:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f35d";
}

